<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicEndPoint"/>
                <binding name="WS_CatXModImpl">
                    <security mode="Transport"/>
                </binding>
                <binding name="WS_CatXModImpl1"/>
                <binding name="wsTarifaSoap"/>
                <binding name="ServiceSoap"/>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ClearUsernameBinding_PublicServicesAutosContract">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://enterpriseservices.implementation.hdi.com.mx/B2B/Partners/WCF/Autos/PublicServicesAutos.svc" binding="basicHttpBinding" bindingConfiguration="BasicEndPoint" contract="hdiservice.PublicServicesAutosContract" name="BasicEndPoint"/>
            <endpoint address="https://calypso.segurosatlas.com.mx/WSSegAtlas/WS_CatXMod/" binding="basicHttpBinding" bindingConfiguration="WS_CatXModImpl" contract="atlaservice.WS_CatXModImpl" name="WS_CatXModImpl"/>
            <endpoint address="http://qbcenter.qualitas.com.mx/wsTarifa/wsTarifa.asmx" binding="basicHttpBinding" bindingConfiguration="wsTarifaSoap" contract="QService.wsTarifaSoap" name="wsTarifaSoap"/>
            <endpoint address="https://enterpriseservices.hdi.com.mx/B2B/Partners/WCF/Autos/PublicServicesAutos.svc" binding="wsHttpBinding" bindingConfiguration="ClearUsernameBinding_PublicServicesAutosContract" contract="hdiprod.PublicServicesAutosContract" name="ClearUsernameBinding_PublicServicesAutosContract"/>
            <endpoint address="http://server.anaseguros.com.mx/ananetws/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap" name="ServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
